.registrationForm {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 10px;
}

.registrationForm label {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.registrationForm input {
    width: 175px;
}

.registrationFormCont {
    position: relative;
    margin-top: 30px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.registrationFormCont h2 {
    text-align: center;
}

.registrationFormCont button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.registrationFormCont>p {
    text-align: center;
}

.errorMessage {
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: center;
    border: 1px solid;
    background-color: bisque;
}