.homePage {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 150px 55vw;
  grid-template-rows: auto;
  grid-template-areas:
    ". markbooks"
    "leftMenuHomePage generalSpace";
}

.loadingPage {
  grid-area: generalSpace;
  width: 100%;
  height: 480px;
  position: relative;
  background-image: url("../../assets/loadingTemplate.svg");
  z-index: 15;
}

.markbooks {
  grid-area: markbooks;
  margin: 0px;
}

.fullWidth {
  width: 100%;
}

.leftMenuHomePage {
  grid-area: leftMenuHomePage;
}

.leftMenuHomePage button {
  grid-area: leftMenuHomePage;
  width: unset;
  border: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 5px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #87cefa8c;
}

.dietSelector {
  grid-area: generalSpace;
  border: 2px solid orange;
  font-size: 22px;
  min-width: 520px;
}

.dietSelector label {
  display: grid;
  grid-template-columns: 180px 190px auto;
  grid-template-rows: auto;
}

.dietSelector>* {
  margin: 5px;

}

.dietSelector select,
.dietSelector input {
  margin-left: 5px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-family: monospace;
}

.findRecipesButton {
  margin: 5px;
  float: right;
}

.dietDefenitionList {
  grid-area: generalSpace;
  padding: 5px;
  border: 2px solid orange;
}

.recipeItem {
  border: 2px solid red;
  width: 25vw;
  display: inline-block;
  margin: 5px;
  position: relative;
  min-width: 170px;
}

.deleteItemButton {
  border-radius: 50%;
  background-color: red;
  font-weight: 999;
  display: inline-block;
  color: white;
  padding-bottom: 3px;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 5px;
  font-size: 18px;
}

.deleteItemButton p {
  position: absolute;
  left: 2px;
  top: -8px;
}

.deleteItemButton:hover {
  box-shadow: 0px 1px 5px 0px rgb(0 0 0);
  color: black;
}

.showIngridients {
  border: 2px solid rgb(103 108 104);
  user-select: none;
  color: black;
  width: fit-content;
  background-color: #bfbebd;
}

.recipeItem p {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  background: #cdffdca6;
  width: 100%;
}

.recipeItem img {
  width: 100%;
}

.recipeItem button {
  position: absolute;
  right: 0px;
  z-index: 10;
  width: 80px;
  height: 70px;
  text-align: right;
  background-color: #ff9a50de;
  box-shadow: -2px 4px 9px 3px rgba(254, 13, 0, 0.56);
  border-radius: 0px 0px 0px 85px / 0px 0px 0px 75px;
}

.recipeConteiner {
  border: 2px solid orange;
  grid-area: generalSpace;
  overflow: auto;
  scrollbar-width: none;
  min-width: 380px;
}

.intoleranceList {
  grid-area: generalSpace;
  font-size: 22px;
  margin: 5px;
}

.markbooksField {
  grid-area: generalSpace;
  font-size: 22px;
  margin: 5px;
}

.markbooksField fieldset {
  min-width: 520px;
}

.markbooksField p {
  margin-top: 5px;
}

.cuisineCont {
  list-style: none;
  max-height: 370px;
  display: grid;
  grid-template-columns: 185px 185px 185px;
  grid-template-rows: auto;
}

.cuisineCont input {
  width: 20px;
  height: 20px;
}

.dietCooseField {
  display: block;
  margin-top: 10px;
}


.recipeConteiner::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.plusButton {
  position: relative;
  width: 29px;
  height: 27px;
  vertical-align: middle;
  background-color: #ffffff00;
  border: 0px;
  font-size: 38px;
  top: -17px;
  text-decoration: none;
  left: -4px;
  text-shadow: 0px 1px 2px rgb(15 122 22 / 75%), -1px 3px 4px rgb(54 64 56 / 75%);
  font-weight: 999;
  color: rgb(13, 141, 4);
}

.plusButton:active {
  color: rgb(0 177 38);
  text-shadow: 0px 1px 2px rgb(255 0 0 / 75%), -1px 3px 4px rgb(0 11 255 / 75%);
}

.plusButton:hover {
  color: rgb(16, 131, 41);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75), -1px 3px 4px rgba(0, 0, 0, 0.75);
}