.tumblerCont {
  position: relative;
  float: right;
  width: 45px;
  height: 20px;
  background-color: antiquewhite;
  border-radius: 90px;
  border: 2px solid #164a30;
  vertical-align: middle;
  margin-top: 5px;
  cursor: pointer;
}

.tumblerCont:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 50%), 1px 2px 4px rgb(0 0 0 / 75%);
}

.tumbler {
  z-index: 15;
  box-sizing: border-box;
  border: 1px solid;
  top: 10%;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: grey;
  transition: color 0.6s ease-in 0s;
  transition: left 0.6s ease-in 0s;
  border-radius: 90px;
}

.tumbler:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 50%), 1px 2px 4px rgb(0 0 0 / 75%);
}

.tumblerStart {
  background-color: rgb(13 141 4);
  left: 2px;
}

.tumblerEnd {
  background-color: red;
  left: 60%;
}

.tumblerOff {
  user-select: none;
  font-size: 18px;
  position: absolute;
  left: 1px;
  transition: visibility 0s ease-in 0.5s;
}

.tumblerOn {
  user-select: none;
  font-size: 18px;
  position: absolute;
  right: 3px;
  transition: visibility 0s ease-in 0.5s;
}

.tumblerHiden {
  visibility: hidden;
}
