.ricipe {
  display: grid;
  grid-template-columns: 150px 65vw;
  grid-template-rows: auto auto 60vh;
  grid-template-areas:
    ". recipeTitle"
    "backButton recipeMarcbooks"
    ". generalSpace";
}

.recipeTitle {
  grid-area: recipeTitle;
}

.recipeTemplate {
  width: fit-content;
  height: fit-content;
  height: -moz-fit-content;
  border: 2px dotted orange;
  position: relative;
  grid-area: generalSpace;
  display: grid;
  grid-template-columns: 312px auto 120px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "recipeImage generalInfo icons"
    "recipeSummary recipeSummary recipeSummary";
}

.recipePageMarkbooks {
  grid-area: recipeMarcbooks;
}

.recipePageMarkbooks button {
  grid-area: markbooks;
  margin: 0px;
  margin-top: -10px;
  border: 2px dotted #f1c40f;
  margin-bottom: -1px;
  font-size: 20px;
  z-index: 2;
  color: #6a6a6a;
}

.recipePageMarkbooks button:hover {
  background: #eae8777e;
}

.recipePageMarkbooks .activeButton {
  border-bottom: 2px solid #faf2ea;
  z-index: 5;
  background-color: #fbc2c8;
  box-shadow: inset 0px 0px 4px 1px rgb(139 108 112);
  padding-top: 10px;
  color: black;
}

.recipeImage {
  grid-area: recipeImage;
  width: 100%;
  margin: 10px;
  border-image: url(../../../assets/frame.svg) 30;
}

.starStyles {
  display: inline-block;
  vertical-align: top;
  width: 55px;
  height: 55px;
  background: linear-gradient(to bottom,
      rgba(197, 196, 196, 1) 0%,
      rgba(180, 179, 178, 1) 100%);
  position: absolute;
  top: 20px;
  left: 15px;
}

.starStyles:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: linear-gradient(to bottom,
      rgba(221, 220, 219, 1) 0%,
      rgba(209, 208, 206, 1) 100%);
  z-index: 1;
}

.starStyles,
.starStyles:before {
  -webkit-clip-path: polygon(50% 0%,
      66% 27%,
      98% 35%,
      76% 57%,
      79% 91%,
      50% 78%,
      21% 91%,
      24% 57%,
      2% 35%,
      32% 27%);
  clip-path: polygon(50% 0%,
      66% 27%,
      98% 35%,
      76% 57%,
      79% 91%,
      50% 78%,
      21% 91%,
      24% 57%,
      2% 35%,
      32% 27%);
}


/* .starStyles:hover {
  background: linear-gradient(to bottom,
      rgba(224, 194, 75, 1) 0%,
      rgba(207, 125, 0, 1) 100%);
} */
.favouriteStar {
  background: linear-gradient(to bottom,
      rgba(243, 212, 85, 1) 0%,
      rgba(238, 164, 0, 1) 100%);
  display: inline-block;
  vertical-align: top;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 20px;
  left: 15px;
  -webkit-clip-path: polygon(50% 0%,
      66% 27%,
      98% 35%,
      76% 57%,
      79% 91%,
      50% 78%,
      21% 91%,
      24% 57%,
      2% 35%,
      32% 27%);
  clip-path: polygon(50% 0%,
      66% 27%,
      98% 35%,
      76% 57%,
      79% 91%,
      50% 78%,
      21% 91%,
      24% 57%,
      2% 35%,
      32% 27%);
}

.favouriteStar:hover {
  background: linear-gradient(to bottom,
      rgba(197, 196, 196, 1) 0%,
      rgba(180, 179, 178, 1) 100%);

}

.starStyles:hover:before {
  background: linear-gradient(to bottom,
      rgba(243, 212, 85, 1) 0%,
      rgba(238, 164, 0, 1) 100%);
}

.instructions {
  grid-area: generalInfo;
  font-size: 20px;
  margin: 10px;
  margin-top: 0px;
  position: relative;
  padding: 10px;
  padding-top: 0px;
}

.instructions p {
  text-align: justify;
  margin-bottom: 10px;
  padding: 10px;
}

.instructions div {
  margin: 10px;
  margin-top: 0px;
}

.generalInfo {
  width: fit-content;
  height: fit-content;
  grid-area: generalInfo;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "baseInfo dishTypes cusines";
  margin-left: 20px;
  margin-top: 30px;
}

.generalInfo p,
.generalInfo a {
  margin: 5px;
  font-size: 20px;
}

.generalInfo div:not(:last-child) {
  border-right: 2px solid rgb(173, 166, 175);
}

.generalInfo div:not(:first-child) {
  padding-left: 10px;
}

.recipeSummary {
  grid-area: recipeSummary;
  text-align: justify;
  margin: 5px;
  font-size: 20px;
  padding: 10px;
  margin-top: 5px;
}

.iconCont {
  grid-area: icons;
  margin-top: 15px;
}

.iconCont>div {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
}

.stepDuration {
  float: right;
  border: 1px solid #8492a3;
  border-radius: 65%;
  padding: 5px;
  background-color: #f5a795;
  font-style: italic;
}

.stepIngrList {
  list-style-type: disclosure-closed;
}

.dishTypes {
  margin-left: 10px;
}

.cusines {
  margin-left: 10px;
  margin-right: 10px;
}

.glutenfree {
  background-image: url(../../../assets/gluten-free.svg);
}

.dairyfree {
  background-image: url(../../../assets/dairy-free.svg);
}

.lactoovovegetarian {
  background-image: url(../../../assets/vegetarian.svg);
}

.vegan {
  background-image: url(../../../assets/vegan.svg);
}

.vegetarian {
  background-image: url(../../../assets/vegetarian.svg);
}

.paleolithic {
  background-image: url(../../../assets/paleo.svg);
}

.primal {
  background-image: url(../../../assets/primal.svg);
}

.ovovegetarian {
  background-image: url(../../../assets/ovovegetarian.svg);
}

.pescetarian {
  background-image: url(../../../assets/pescetarian.svg);
}

.lowfoodmap {
  background-image: url(../../../assets/lowfoodmap.svg);
}

.whole30 {
  background-image: url(../../../assets/whole30.svg);
}

.healthyIcon {
  background-image: url(../../../assets/healthy.svg);
}