#root {
  /* width: 75vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-width: 1000px; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "layout"
    "bodyContent";
}

.mainTitle {
  margin-top: 5px;
  font-family: serif;
  font-size: 40px;
  cursor: pointer;
  width: -moz-fit-content;
}

.aboutCont {
  line-height: 1.4;
  font-size: 28px;
  grid-area: bodyContent;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 150px 65vw;
  grid-template-rows: auto auto;
  grid-template-areas: "picture shortInfo" "mainDescription mainDescription";
}

.aboutPicture {
  background-image: url("./assets/leo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: picture;
  width: 150px;
  height: 175px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 55px;
}

.mainDescription {
  margin-top: 25px;
  grid-area: mainDescription;
}

.shortInfo {
  width: fit-content;
  margin-left: 15%;
}
