.homePage {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". markbooks"
    "leftMenuHomePage generalSpace";
}

.recipeList {
  border: 2px solid orange;
  grid-area: generalSpace;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 75vh;
  grid-template-areas: "recipeConteiner";
}

.markbooks {
  grid-area: markbooks;
  margin: 0px;
}

.fullWidth {
  width: 100%;
}

.leftMenuHomePage {
  grid-area: leftMenuHomePage;
}

.dietSelector {
  grid-area: generalSpace;
  border: 2px solid orange;
}

.dietDefenitionList {
  grid-area: generalSpace;
}

.recipeItem {
  border: 2px solid red;
  width: 25vw;
  display: inline-block;
  margin: 5px;
  position: relative;
  min-width: 170px;
}

.recipeItem p {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  background: #cdffdca6;
  width: 100%;
}

.recipeItem img {
  width: 100%;
}

.recipeItem button {
  position: absolute;
  right: 0px;
  z-index: 10;
  width: 80px;
  height: 70px;
  text-align: right;
  background-color: #ff9a50de;
  box-shadow: -2px 4px 9px 3px rgba(254, 13, 0, 0.56);
  border-radius: 0px 0px 0px 85px / 0px 0px 0px 75px;
}

.recipeConteiner {
  overflow: auto;
  scrollbar-width: none;
}

.intoleranceList {
  grid-area: generalSpace;
  font-size: 22px;
  margin: 5px;
}

.markbooksField {
  grid-area: generalSpace;
  font-size: 22px;
  margin: 5px;
}

.markbooksField fieldset {
  min-width: 340px;
}

.cuisineCont {
  list-style: none;
  height: 45vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cuisineCont input {
  width: 20px;
  height: 20px;
}