.homePage {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". markbooks"
    "leftMenuHomePage generalSpace";
}

.recipeList {
  border: 2px solid orange;
  grid-area: generalSpace;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 75vh;
  grid-template-areas: "recipeConteiner";
}

.loadingPage {
  width: 100px;
  height: 100px;
  grid-area: generalSpace;
  position: relative;
  top: 30vh;
  left: 25vw;
}

.markbooks {
  grid-area: markbooks;
  margin: 0px;
}

.fullWidth {
  width: 100%;
}

.leftMenuHomePage {
  grid-area: leftMenuHomePage;
}

.dietSelector {
  grid-area: generalSpace;
  border: 2px solid orange;
}

.dietDefenitionList {
  grid-area: generalSpace;
}

.recipeItem {
  border: 2px solid red;
  width: 25vw;
  display: inline-block;
  margin: 5px;
  position: relative;
  min-width: 170px;
}

.recipeItem p {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  background: #cdffdca6;
  width: 100%;
}

.recipeItem img {
  width: 100%;
}

.recipeItem button {
  position: absolute;
  right: 0px;
  z-index: 10;
  width: 80px;
  height: 70px;
  text-align: right;
  background-color: #ff9a50de;
  box-shadow: -2px 4px 9px 3px rgba(254, 13, 0, 0.56);
  border-radius: 0px 0px 0px 85px / 0px 0px 0px 75px;
}

.recipeConteiner {
  overflow: auto;
  scrollbar-width: none;
}

.intoleranceList {
  grid-area: generalSpace;
  font-size: 22px;
  margin: 5px;
}

.markbooksField {
  grid-area: generalSpace;
  font-size: 22px;
  margin: 5px;
}

.markbooksField fieldset {
  min-width: 340px;
}

.cuisineCont {
  list-style: none;
  height: 45vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cuisineCont input {
  width: 20px;
  height: 20px;
}

.dietCooseField {
  display: block;
  width: 255px;
}

.ingridientsList {
  border: 1px solid;
}

.recipeConteiner::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.plusButton {
  position: relative;
  width: 29px;
  height: 27px;
  vertical-align: middle;
  background-color: #ffffff00;
  border: 0px;
  font-size: 38px;
  top: -17px;
  text-decoration: none;
  left: -4px;
  text-shadow: 0px 1px 2px rgb(15 122 22 / 75%), -1px 3px 4px rgb(54 64 56 / 75%);
  font-weight: 999;
  color: rgb(13, 141, 4);
}

.plusButton:active {
  color: rgb(0 177 38);
  text-shadow: 0px 1px 2px rgb(255 0 0 / 75%), -1px 3px 4px rgb(0 11 255 / 75%);
}

.plusButton:hover {
  color: rgb(16, 131, 41);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75), -1px 3px 4px rgba(0, 0, 0, 0.75);
}